.w3-theme-l5 {color:#000 !important; background-color:#f0f0f0 !important}
.w3-theme-l4 {color:#000 !important; background-color:#cccccc !important}
.w3-theme-l3 {color:#fff !important; background-color:#AEBD93 !important}
.w3-theme-l2 {color:#fff !important; background-color:#666666 !important}
.w3-theme-l1 {color:#fff !important; background-color:#545B37 !important}
.w3-theme-d1 {color:#fff !important; background-color:#000000 !important}
.w3-theme-d2 {color:#fff !important; background-color:#000000 !important}
.w3-theme-d3 {color:#000 !important; background-color:#D8E2C5 !important}
.w3-theme-d4 {color:#fff !important; background-color:#000000 !important}
.w3-theme-d5 {color:#fff !important; background-color:#000000 !important}

.w3-theme-light {color:#000 !important; background-color:#f0f0f0 !important}
.w3-theme-dark {color:#fff !important; background-color:#000000 !important}
.w3-theme-action {color:#fff !important; background-color:#000000 !important}

.w3-theme {color:#fff !important; background-color:#7A8450 !important}
.w3-text-theme {color:#000000 !important}
.w3-header-theme {color: #606166 !important}
.w3-border-theme {border-color:#000000 !important}
.w3-container-theme {margin: 5px 10px 5px 10px !important}

.w3-hover-theme:hover {color:#000 !important; background-color:#ffc107 !important}
.w3-hover-text-theme:hover {color:#000000 !important}
.w3-hover-border-theme:hover {border-color:#000000 !important}

.logo {padding-left: 2%; padding-right: 2%;}

iframe {
	border: none;
	width: 100%;
	height: 500px;
}
